<header>
  <div id="header-container" class="fill pos-rel">
    <div class="dim-2"></div>
    <div id="header-text" class="pos-rel">
        
      <h1 class="text-center display-4">
        Need a favor?
      </h1>
    </div>
  </div>
</header>

<main class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row-pad-1">
        <h3 class="text-center">
            Many out there want to lend a hand!
          </h3>
          <br/>
          <p class="lead text-center">
            You can create an account and list all the 
            things you need help with. Someone will see it and reach out!
          </p>
      </div>
    </div>
  </div>
  <div class="row bg-white">
    <div class="col-md-12">
      <div class="row-pad-1">
        <h3 class="text-center">
          Why not get paid for being nice?
        </h3>
        <br/>
        <p class="lead text-center">
          People out there could use your help. 
          You can easily see who could benefit from your assistance.
        </p>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
</main>