<div class="container container-space-1">
    <div class="row">
        <div class="col-md-4">
          <div class="card space-bm-1">
            <div class="card-body" *ngIf="user">
              <img class="home-bio-img"
                [src]="user.icon_link" 
                [alt]="user.displayname">
      
              <div class="text-center">
                <h5>{{ user.displayname }}</h5>
                <p>{{ user.username }}</p>
              </div>
              <br/>

              <div>
                <div class="list-group">
                  <a class="list-group-item list-group-item-action"
                    [routerLink]="['/', 'users', user.id]"
                    routerLinkActive="">Home</a>

                  <a class="list-group-item list-group-item-action"
                    *ngIf="youAreUser"
                    [routerLink]="['/', 'users', user.id, 'settings']"
                    routerLinkActive="">Settings</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <router-outlet></router-outlet>
          <!-- <div class="card space-bm-1">
            <div class="card-body">
              
            </div>
          </div> -->
        </div>
    </div>
</div>
